entryPoints:
{% if enable_http %}
  web:
    address: :{{ http_traefik_port }}
{% endif %}
{% if enable_tls %}
  websecure:
    address: :{{ https_traefik_port }}
{% endif %}

providers:
  file:
    filename: dynamic.yml
    watch: true

experimental:
  localPlugins:
    modsec_plugin:
      moduleName: github.com/acouvreur/traefik-modsecurity-plugin

serversTransport:
  insecureSkipVerify: true
