entryPoints:
${HTTP_COMMENT}  web:
${HTTP_COMMENT}    address: ${DNS_NAME}:80
${TLS_COMMENT}  websecure:
${TLS_COMMENT}    address: ${DNS_NAME}:443

providers:
  file:
    filename: dynamic.yml
    watch: true

experimental:
  localPlugins:
    modsec_plugin:
      moduleName: github.com/acouvreur/traefik-modsecurity-plugin
