entryPoints:
{% if enable_http %}
  web:
    address: :80
{% endif %}
{% if enable_tls %}
  websecure:
    address: :443
{% endif %}

providers:
  file:
    filename: dynamic.yml
    watch: true

experimental:
  localPlugins:
    modsec_plugin:
      moduleName: github.com/acouvreur/traefik-modsecurity-plugin
